<%= render 'layouts/common/header' %>
<div class="section thankyououter">
  <div class="whytcircle wow zoomIn">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <h3 class="text-center"><span>THANK YOU</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra quis nunc ac gravida. In consectetur, lectus eu eleifend aliquam, dolor velit accumsan lacus, vel vestibulum odio augue sed tellus. Nunc ut sem diam. Nullam metus tellus, varius sit amet tincidunt venenatis, luctus sit amet eros.</p>
        <p>Sed nec egestas turpis, ac blandit velit. Curabitur pretium efficitur enim nec euismod. Mauris vel urna eu felis consequat ultrices sit amet semper nisl. Curabitur laoreet neque magna, consequat ultrices nunc ullamcorper at. Sed maximus at tellus non tincidunt. Praesent posuere lobortis hendrerit. Duis sed consequat nulla. Curabitur eleifend quam eget imperdiet lobortis. Morbi ac congue dui. Vestibulum maximus urna nec tincidunt lacinia.</p>
        <div class="bannertesti">
          <div class="bannertestiimg">
           <!--  <img src="images/bannertestiimg.png" alt="" width="90" height="90"> -->
            <%=image_tag("#{asset_path("bannertestiimg.png")}",width: "90",height: "90")%>
          </div>
          <div class="bannertestitext">
            <p class="m-0 text-uppercase"><strong>Jhon Doe</strong>
              <!-- <img src="images/star.png" alt="" width="15" height="14"> -->
              <%=image_tag("#{asset_path("star.png")}",width: "15",height: "14")%>
              <%=image_tag("#{asset_path("star.png")}",width: "15",height: "14")%>
              <%=image_tag("#{asset_path("star.png")}",width: "15",height: "14")%>
              <%=image_tag("#{asset_path("star.png")}",width: "15",height: "14")%>
              <%=image_tag("#{asset_path("star.png")}",width: "15",height: "14")%>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet magna dui. Sed pretium ac mi sit amet finibus. Vivamus tempor lectus at convallis placerat. Nunc tortor arcu, consequat ac eros nec, ornare convallis turpis.</p>
          </div>
        </div>
        <div class="smllogo d-none d-lg-block">
          <!-- <img src="images/smllogo.png" alt="" width="230" height="52"> -->
          <%=image_tag("#{asset_path("smllogo.png")}",width: "230",height: "52")%>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/common/footer' %>