<!doctype html>
<html ⚡>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="canonical" href="/">
    <link rel="shortcut icon" href="amp_favicon.png">
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <title>Get A Loan Today</title>
    <style amp-boilerplate>

        body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        }

        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @-o-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }
    </style>
    <style amp-custom>
        */:root {
            --blue: #007bff;
            --indigo: #6610f2;
            --purple: #6f42c1;
            --pink: #e83e8c;
            --red: #dc3545;
            --orange: #fd7e14;
            --yellow: #ffc107;
            --green: #28a745;
            --teal: #20c997;
            --cyan: #17a2b8;
            --white: #fff;
            --gray: #6c757d;
            --gray-dark: #343a40;
            --primary: #007bff;
            --secondary: #6c757d;
            --success: #28a745;
            --info: #17a2b8;
            --warning: #ffc107;
            --danger: #dc3545;
            --light: #f8f9fa;
            --dark: #343a40;
            --breakpoint-xs: 0;
            --breakpoint-sm: 576px;
            --breakpoint-md: 768px;
            --breakpoint-lg: 992px;
            --breakpoint-xl: 1200px;
            /*--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace*/
        }

        *,
         ::after,
         ::before {
            box-sizing: border-box
        }

        html {
            font-family: sans-serif;
            line-height: 1.15;
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent
        }

        footer,
        header,
        section {
            display: block
        }

        body {
            margin: 0;
            /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff
        }

        img {
          border: 0;
          height: auto;
          max-width: 100%;
      }

        [tabindex="-1"]:focus:not(:focus-visible) {
            outline: 0
        }

        h1,
        h2,
        h3,
        h4,
        h6 {
            margin-top: 0;
            margin-bottom: .5rem
        }

        p {
            margin-top: 0;
            margin-bottom: 1rem
        }

        ul {
            margin-top: 0;
            margin-bottom: 1rem
        }

        a {
            color: #007bff;
            text-decoration: none;
            background-color: transparent
        }

        a:hover {
            color: #0056b3;
            text-decoration: underline
        }

        label {
            display: inline-block;
            margin-bottom: .5rem
        }

        input,
        select {
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit
        }

        input {
            overflow: visible
        }

        select {
            text-transform: none
        }

        select {
            word-wrap: normal
        }

        [type=submit] {
            -webkit-appearance: button
        }

        [type=button]:not(:disabled),
        [type=reset]:not(:disabled),
        [type=submit]:not(:disabled),
        button:not(:disabled) {
            cursor: pointer
        }

        [type=submit]::-moz-focus-inner {
            padding: 0;
            border-style: none
        }

        input[type=radio] {
            box-sizing: border-box;
            padding: 0
        }

         ::-webkit-file-upload-button {
            font: inherit;
            -webkit-appearance: button
        }

        h1,
        h2,
        h3,
        h4,
        h6 {
            margin-bottom: .5rem;
            font-weight: 500;
            line-height: 1.2
        }

        h1 {
            font-size: 2.5rem
        }

        h2 {
            font-size: 2rem
        }

        h3 {
            font-size: 1.75rem
        }

        h4 {
            font-size: 1.5rem
        }

        h6 {
            font-size: 1rem
        }

        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto
        }

        @media (min-width:576px) {
            .container {
                max-width: 540px
            }
        }

        @media (min-width:768px) {
            .container {
                max-width: 720px
            }
        }

        @media (min-width:992px) {
            .container {
                max-width: 960px
            }
        }

        @media (min-width:1200px) {
            .container {
                max-width: 1140px
            }
        }

        @media (min-width:576px) {
            .container {
                max-width: 540px
            }
        }

        @media (min-width:768px) {
            .container {
                max-width: 720px
            }
        }

        @media (min-width:992px) {
            .container {
                max-width: 960px
            }
        }

        @media (min-width:1200px) {
            .container {
                max-width: 1140px
            }
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px
        }

        .col-10,
        .col-11,
        .col-12,
        .col-md-10,
        .col-md-11,
        .col-md-12,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-8,
        .col-md-9,
        .col-sm-10,
        .col-sm-11,
        .col-sm-12,
        .col-sm-3,
        .col-sm-4,
        .col-sm-6,
        .col-sm-8,
        .col-sm-9 {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px
        }

        .col-10 {
            -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
            max-width: 83.333333%
        }

        .col-11 {
            -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
            max-width: 91.666667%
        }

        .col-12 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%
        }

        .order-1 {
            -ms-flex-order: 1;
            order: 1
        }

        .order-2 {
            -ms-flex-order: 2;
            order: 2
        }

        @media (min-width:576px) {
            .col-sm-3 {
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%
            }
            .col-sm-4 {
                -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
                max-width: 33.333333%
            }
            .col-sm-6 {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%
            }
            .col-sm-8 {
                -ms-flex: 0 0 66.666667%;
                flex: 0 0 66.666667%;
                max-width: 66.666667%
            }
            .col-sm-9 {
                -ms-flex: 0 0 75%;
                flex: 0 0 75%;
                max-width: 75%
            }
            .col-sm-10 {
                -ms-flex: 0 0 83.333333%;
                flex: 0 0 83.333333%;
                max-width: 83.333333%
            }
            .col-sm-11 {
                -ms-flex: 0 0 91.666667%;
                flex: 0 0 91.666667%;
                max-width: 91.666667%
            }
            .col-sm-12 {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%
            }
            .order-sm-1 {
                -ms-flex-order: 1;
                order: 1
            }
            .order-sm-2 {
                -ms-flex-order: 2;
                order: 2
            }
        }

        @media (min-width:768px) {
            .col-md-2 {
                -ms-flex: 0 0 16.666667%;
                flex: 0 0 16.666667%;
                max-width: 16.666667%
            }
            .col-md-3 {
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%
            }
            .col-md-4 {
                -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
                max-width: 33.333333%
            }
            .col-md-8 {
                -ms-flex: 0 0 66.666667%;
                flex: 0 0 66.666667%;
                max-width: 66.666667%
            }
            .col-md-9 {
                -ms-flex: 0 0 75%;
                flex: 0 0 75%;
                max-width: 75%
            }
            .col-md-10 {
                -ms-flex: 0 0 83.333333%;
                flex: 0 0 83.333333%;
                max-width: 83.333333%
            }
            .col-md-11 {
                -ms-flex: 0 0 91.666667%;
                flex: 0 0 91.666667%;
                max-width: 91.666667%
            }
            .col-md-12 {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%
            }
            .order-md-1 {
                -ms-flex-order: 1;
                order: 1
            }
            .order-md-2 {
                -ms-flex-order: 2;
                order: 2
            }
        }

        .custom-control-input.is-valid:focus:not(:checked)~.custom-control-label::before,
        .was-validated .custom-control-input:valid:focus:not(:checked)~.custom-control-label::before {
            border-color: #28a745
        }

        .custom-control-input.is-invalid:focus:not(:checked)~.custom-control-label::before,
        .was-validated .custom-control-input:invalid:focus:not(:checked)~.custom-control-label::before {
            border-color: #dc3545
        }

        .btn-primary:not(:disabled):not(.disabled).active,
        .btn-primary:not(:disabled):not(.disabled):active {
            color: #fff;
            background-color: #0062cc;
            border-color: #005cbf
        }

        .btn-primary:not(:disabled):not(.disabled).active:focus,
        .btn-primary:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5)
        }

        .btn-secondary:not(:disabled):not(.disabled).active,
        .btn-secondary:not(:disabled):not(.disabled):active {
            color: #fff;
            background-color: #545b62;
            border-color: #4e555b
        }

        .btn-secondary:not(:disabled):not(.disabled).active:focus,
        .btn-secondary:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(130, 138, 145, .5)
        }

        .btn-success:not(:disabled):not(.disabled).active,
        .btn-success:not(:disabled):not(.disabled):active {
            color: #fff;
            background-color: #1e7e34;
            border-color: #1c7430
        }

        .btn-success:not(:disabled):not(.disabled).active:focus,
        .btn-success:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
        }

        .btn-info:not(:disabled):not(.disabled).active,
        .btn-info:not(:disabled):not(.disabled):active {
            color: #fff;
            background-color: #117a8b;
            border-color: #10707f
        }

        .btn-info:not(:disabled):not(.disabled).active:focus,
        .btn-info:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(58, 176, 195, .5)
        }

        .btn-warning:not(:disabled):not(.disabled).active,
        .btn-warning:not(:disabled):not(.disabled):active {
            color: #212529;
            background-color: #d39e00;
            border-color: #c69500
        }

        .btn-warning:not(:disabled):not(.disabled).active:focus,
        .btn-warning:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(222, 170, 12, .5)
        }

        .btn-danger:not(:disabled):not(.disabled).active,
        .btn-danger:not(:disabled):not(.disabled):active {
            color: #fff;
            background-color: #bd2130;
            border-color: #b21f2d
        }

        .btn-danger:not(:disabled):not(.disabled).active:focus,
        .btn-danger:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
        }

        .btn-light:not(:disabled):not(.disabled).active,
        .btn-light:not(:disabled):not(.disabled):active {
            color: #212529;
            background-color: #dae0e5;
            border-color: #d3d9df
        }

        .btn-light:not(:disabled):not(.disabled).active:focus,
        .btn-light:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(216, 217, 219, .5)
        }

        .btn-dark:not(:disabled):not(.disabled).active,
        .btn-dark:not(:disabled):not(.disabled):active {
            color: #fff;
            background-color: #1d2124;
            border-color: #171a1d
        }

        .btn-dark:not(:disabled):not(.disabled).active:focus,
        .btn-dark:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
        }

        .btn-outline-primary:not(:disabled):not(.disabled).active,
        .btn-outline-primary:not(:disabled):not(.disabled):active {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff
        }

        .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
        .btn-outline-primary:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
        }

        .btn-outline-secondary:not(:disabled):not(.disabled).active,
        .btn-outline-secondary:not(:disabled):not(.disabled):active {
            color: #fff;
            background-color: #6c757d;
            border-color: #6c757d
        }

        .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
        .btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
        }

        .btn-outline-success:not(:disabled):not(.disabled).active,
        .btn-outline-success:not(:disabled):not(.disabled):active {
            color: #fff;
            background-color: #28a745;
            border-color: #28a745
        }

        .btn-outline-success:not(:disabled):not(.disabled).active:focus,
        .btn-outline-success:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
        }

        .btn-outline-info:not(:disabled):not(.disabled).active,
        .btn-outline-info:not(:disabled):not(.disabled):active {
            color: #fff;
            background-color: #17a2b8;
            border-color: #17a2b8
        }

        .btn-outline-info:not(:disabled):not(.disabled).active:focus,
        .btn-outline-info:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
        }

        .btn-outline-warning:not(:disabled):not(.disabled).active,
        .btn-outline-warning:not(:disabled):not(.disabled):active {
            color: #212529;
            background-color: #ffc107;
            border-color: #ffc107
        }

        .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
        .btn-outline-warning:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
        }

        .btn-outline-danger:not(:disabled):not(.disabled).active,
        .btn-outline-danger:not(:disabled):not(.disabled):active {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545
        }

        .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
        .btn-outline-danger:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
        }

        .btn-outline-light:not(:disabled):not(.disabled).active,
        .btn-outline-light:not(:disabled):not(.disabled):active {
            color: #212529;
            background-color: #f8f9fa;
            border-color: #f8f9fa
        }

        .btn-outline-light:not(:disabled):not(.disabled).active:focus,
        .btn-outline-light:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
        }

        .btn-outline-dark:not(:disabled):not(.disabled).active,
        .btn-outline-dark:not(:disabled):not(.disabled):active {
            color: #fff;
            background-color: #343a40;
            border-color: #343a40
        }

        .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
        .btn-outline-dark:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
        }

        .custom-control-input:focus:not(:checked)~.custom-control-label::before {
            border-color: #80bdff
        }

        .custom-control-input:not(:disabled):active~.custom-control-label::before {
            color: #fff;
            background-color: #b3d7ff;
            border-color: #b3d7ff
        }

        .close:not(:disabled):not(.disabled):focus,
        .close:not(:disabled):not(.disabled):hover {
            opacity: .75
        }

        .d-flex {
            display: -ms-flexbox;
            display: flex
        }

        .justify-content-center {
            -ms-flex-pack: center;
            justify-content: center
        }

        .align-items-center {
            -ms-flex-align: center;
            align-items: center
        }

        @supports ((position:-webkit-sticky) or (position:sticky)) {}

        .w-100 {
            width: 100%
        }

        .mr-3 {
            margin-right: 1rem
        }

        .mb-3 {
            margin-bottom: 1rem
        }

        .px-0 {
            padding-right: 0
        }

        .px-0 {
            padding-left: 0
        }

        .pb-4 {
            padding-bottom: 1.5rem
        }

        .mx-auto {
            margin-right: auto
        }

        .mx-auto {
            margin-left: auto
        }

        @media (min-width:768px) {
            .pl-md-0 {
                padding-left: 0
            }
            .pl-md-4 {
                padding-left: 1.5rem
            }
        }

        .text-right {
            text-align: right
        }

        .text-center {
            text-align: center
        }

        @media (min-width:576px) {
            .text-sm-left {
                text-align: left
            }
            .text-sm-right {
                text-align: right
            }
        }

        @media (min-width:768px) {
            .text-md-left {
                text-align: left
            }
            .text-md-right {
                text-align: right
            }
        }

        .text-uppercase {
            text-transform: uppercase
        }

        @media print {
            *,
             ::after,
             ::before {
                text-shadow: none;
                box-shadow: none
            }
            a:not(.btn) {
                text-decoration: underline
            }
            h2,
            h3,
            p {
                orphans: 3;
                widows: 3
            }
            h2,
            h3 {
                page-break-after: avoid
            }
            @page {
                size: a3
            }
            body {
                min-width: 992px
            }
            .container {
                min-width: 992px
            }
        }

        .text-center {
            text-align: center;
        }

        .mx-auto {
            margin-left: auto;
            margin-right: auto;
            float: none;
        }

        .position-relative {
            position: relative;
        }

        @font-face {
            font-family: 'Museo Sans 300';
            src: font-url('MuseoSans-300.eot');
            src: font-url('MuseoSans-300.eot?#iefix') format('embedded-opentype'), font-url('MuseoSans-300.woff2') format('woff2'), font-url('MuseoSans-300.woff') format('woff'), font-url('MuseoSans-300.ttf') format('truetype'), font-url('MuseoSans-300.svg#MuseoSans-300') format('svg');
            font-weight: 300;
            font-style: normal;
        }

        @font-face {
            font-family: 'MuseoSans-900';
            src: font-url('MuseoSans-900.eot');
            src: font-url('MuseoSans-900.eot?#iefix') format('embedded-opentype'), font-url('MuseoSans-900.woff2') format('woff2'), font-url('MuseoSans-900.woff') format('woff'), font-url('MuseoSans-900.ttf') format('truetype'), font-url('MuseoSans-900.svg#MuseoSans-900') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans 500';
            src: font-url('MuseoSans-500.eot');
            src: font-url('MuseoSans-500.eot?#iefix') format('embedded-opentype'), font-url('MuseoSans-500.woff2') format('woff2'), font-url('MuseoSans-500.woff') format('woff'), font-url('MuseoSans-500.ttf') format('truetype'), font-url('MuseoSans-500.svg#MuseoSans-500') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans 700';
            src: font-url('MuseoSans-700.eot');
            src: font-url('MuseoSans-700.eot?#iefix') format('embedded-opentype'), font-url('MuseoSans-700.woff2') format('woff2'), font-url('MuseoSans-700.woff') format('woff'), font-url('MuseoSans-700.ttf') format('truetype'), font-url('MuseoSans-700.svg#MuseoSans-700') format('svg');
            font-weight: 600;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans 100';
            src: font-url('MuseoSans-100.eot');
            src: font-url('MuseoSans-100.eot?#iefix') format('embedded-opentype'), font-url('MuseoSans-100.woff2') format('woff2'), font-url('MuseoSans-100.woff') format('woff'), font-url('MuseoSans-100.ttf') format('truetype'), font-url('MuseoSans-100.svg#MuseoSans-100') format('svg');
            font-weight: 200;
            font-style: normal;
        }

        body {
            
        }

        p {
            font-size: 12.78px;
        }

        h1,
        h2,
        h3 {
            font-family: 'MuseoSans-900';
        }

        h4,
        h5,
        h6 {
            font-family: 'Museo Sans 700';
        }

        .wrapper {
            max-width: 767px;
            margin: 0 auto;
            overflow: hidden;
        }

        .container {
            max-width: 767px;
        }

        .top_bar {
            background: #38ADF8;
            padding: 11px 0px;
        }

        .top_bar p {
            margin-bottom: 0;
            color: #fff;
            font-family: 'Museo Sans 300';
            font-size: 14px;
        }

        header {
            padding: 35px 0px 0px;
        }

        .site_logo {
            position: relative;
        }

        #site-header::before {
            content: '';
            position: absolute;
            width: 310px;
            height: 310px;
            background: #f6f6f6;
            border-radius: 50%;
            top: -140px;
            z-index: -1;
            left: 105px;
        }

        .site_logo h3 {
            text-transform: uppercase;
            margin: 23px 0px;
            max-width: 185px;
            background: #36a9f5;
            color: #fff;
            text-align: center;
            padding: 14px 0px;
            border-radius: 50px;
            font-size: 17px;
        }

        .right-section p {
            color: #5d5d5d;
            line-height: 28px;
        }

        .barrow-section h2 {
            font-family: 'MuseoSans-900';
            font-size: 64px;
            color: #000;
            margin-top: 5px;
        }

        .barrow-section h1>span {
            font-size: 64px;
            text-transform: uppercase;
            color: #38adf8;
            font-family: 'MuseoSans-900';
        }

        .barrow-section h4 {
            font-size: 26px;
            color: #3b3b3b;
            text-transform: uppercase;
            margin: 30px 0px;
        }

        .barrow-section ul {
            list-style: none;
            padding-left: 0;
            column-count: 2;
            padding-bottom: 35px;
        }

        .barrow-section ul li {
            font-size: 15px;
            color: #359ee4;
            font-family: 'Museo Sans 500';
            padding-bottom: 15px;
            position: relative;
            padding-left: 9px;
        }

        .barrow-section ul li::before {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            background: #FFC135;
            border-radius: 50%;
            left: -22px;
            top: 0px;
        }

        .a1 amp-img {
            border-radius: 50%;
            max-width: 131px;
        }

        .testimonial_header,
        .testimonial_header1 {
            align-items: center;
            position: relative;
        }

        .testimonial_header::before {
            content: '';
            position: absolute;
            background: image-url(qoute.png) no-repeat;
            width: 200px;
            height: 148px;
            background-position: center;
        }

        .testimonial_header::before {
            content: '';
            position: absolute;
            background: image-url(qoute.png) no-repeat;
            width: 100%;
            height: 100%;
            background-position: left;
            background-size: 37%;
        }

        .testimonial_header p,
        .testimonial_header1 p {
            color: #5d5d5d;
            font-style: italic;
            font-size: 14.38px;
            font-family: 'Museo Sans 500';
            line-height: 26px;
            padding-top: 5px;
        }

        .testimonial_header h4 {
            font-size: 22px;
            text-transform: uppercase;
            padding-right: 20px;
            margin: 0;
        }

        .stars {
            display: flex;
            align-items: center;
        }

        .stars i {
            color: #5dd960;
            font-size: 20px;
            padding: 0px 4px;
        }

        .a1 {
            padding: 18px 0px;
        }

        .a2 {
            background: #f5f5f5;
            padding: 52px 30px;
            border-radius: 10px;
            border: 10px solid #fff;
            -webkit-box-shadow: 0px 0px 16px -1px rgba(176, 170, 176, 1);
            -moz-box-shadow: 0px 0px 16px -1px rgba(176, 170, 176, 1);
            box-shadow: 0px 0px 16px -1px rgba(176, 170, 176, 1);
            border-radius: 20px;
        }

        .a2 h2 {
            font-family: 'Museo Sans 700';
            text-transform: uppercase;
            margin-top: 0;
        }

        .range-div {
            padding: 35px 0px 40px 0px;
        }

        .month-list {
            list-style: none;
            padding-left: 0;
            margin: 30px 0px 50px;
            display: inline-block;
            vertical-align: middle;
        }

        .month-list li {
            width: 65px;
            height: 65px;
            background: #fff;
            border-radius: 50%;
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 0px 8px;
            font-family: 'Museo Sans 500';
            font-size: 23.97px;
            color: #38adf8;
            -webkit-box-shadow: 0px 0px 13px -1px rgba(216, 216, 216, 1);
            -moz-box-shadow: 0px 0px 13px -1px rgba(216, 216, 216, 1);
            box-shadow: 0px 0px 13px -1px rgba(216, 216, 216, 1);
        }

        .month-list li.active {
            background: #38adf8;
            color: #fff;
        }

        .baroow_form {
            padding: 95px 0px;
            position: relative;
        }

        .baroow_form::after {
            position: absolute;
            content: '';
            width: 800px;
            height: 800px;
            background: #c3e6fd;
            right: -400px;
            border-radius: 55%;
            top: 0;
            z-index: -1;
        }

        .form input[type="email"] {
            width: 100%;
            padding-left: 20px;
            height: 70px;
            border-radius: 7px;
            border: 1px solid #d8d8d8;
            font-size: 18px;
            -webkit-box-shadow: 0px 0px 13px -1px rgba(216, 216, 216, 1);
            -moz-box-shadow: 0px 0px 13px -1px rgba(216, 216, 216, 1);
            box-shadow: 0px 0px 13px -1px rgba(216, 216, 216, 1);
            outline: none;
            margin-top: 15px;
        }

        .form input[type="email"]::placeholder {
            color: #282828;
        }

        .form input[type="submit"] {
            border: none;
            padding: 25px 115px 25px 75px;
            border-radius: 10px;
            margin-top: 45px;
            font-size: 24px;
            font-family: 'MuseoSans-900';
            background: image-url(arrow.png) no-repeat, #ffc135;
            background-position: right;
            background-position-x: 80%;
            transition: 0.3s;
            border: 1px solid #ffc135;
        }

        input[type="submit"]:hover {
            background: image-url(arrow.png) no-repeat;
            padding: 25px 115px 25px 75px;
            background-position: right;
            background-position-x: 80%;
        }

        .baroow_form::before {
            content: '';
            position: absolute;
            width: 400px;
            height: 400px;
            background: #f8f8f8;
            bottom: -50px;
            border-radius: 50%;
            left: -80px;
            z-index: -1;
        }

        .fund_my_loan {
            background: #f5f5f5;
            padding: 100px 0px 80px;
            position: relative;
            overflow: hidden;
        }

        .fund_my_loan::before {
            content: '';
            position: absolute;
            width: 415px;
            height: 415px;
            background: #ededed;
            bottom: -38px;
            border-radius: 50%;
            left: -100px;
        }

        .fund_my_loan h1 {
            text-transform: uppercase;
            font-size: 48px;
            margin-bottom: 35px;
        }

        .fund_my_loan h2 {
            font-family: 'Museo Sans 300';
            line-height: 35px;
            color: #525252;
            margin-top: 30px;
            font-size: 24.97px;
        }

        .fund_my_loan p {
            font-size: 16.98px;
            font-family: 'Museo Sans 500';
            color: #525252;
        }

        .sponsor-logos {
            padding-top: 85px;
        }

        .box-inner {
            background: #fff;
            padding: 15px;
            border-radius: 7px;
            margin-top: 30px;
        }

        .box-inner h3 {
            color: #4d4d4d;
            font-size: 16px;
        }

        .box-inner p {
            font-size: 13px;
            color: #4d4d4d;
            margin-bottom: 10px;
        }

        .b1 p {
            text-align: left;
        }

        .how_it_work {
            padding: 80px 0px 70px;
            position: relative;
        }

        .how_it_work::before {
            content: '';
            position: absolute;
            width: 470px;
            height: 470px;
            background: #f6f6f6;
            bottom: -120px;
            border-radius: 50%;
            left: -72px;
            overflow: hidden;
        }

        .how_it_work h3 {
            color: #525252;
            font-size: 24px;
            font-family: 'Museo Sans 300';
            margin-bottom: 20px;
        }

        .how_it_work p {
            font-size: 16.70px;
            color: #525252;
            font-family: 'Museo Sans 500';
            margin-bottom: 0px;
        }

        .faq-section {
            background: #f5f5f5;
            padding: 85px 0px;
            position: relative;
            overflow: hidden;
        }

        .faq-section::after {
            content: '';
            position: absolute;
            width: 470px;
            height: 470px;
            background: #ededed;
            right: -235px;
            bottom: -33px;
            z-index: 9;
            border-radius: 50%;
        }

        .faq-section h1 {
            margin-bottom: 0px;
        }

        .faq-section h1 {
            margin-bottom: 0px;
            color: #000000;
            font-size: 48px;
        }

        .faq-section h6 {
            color: #4d4d4d;
            font-size: 16px;
            font-family: 'Museo Sans 500';
            background: #fff;
            border: none;
            padding: 14px 78px 14px 17px;
            margin-top: 20px;
            width: 100%;
            border-radius: 5px;
            outline: none;
        }

        .faq-section p {
            background: #fff;
            margin-top: -2px;
            padding: 20px;
            border-radius: 0px 0px 5px 5px;
        }

        amp-accordion {
            z-index: 999;
        }

        amp-accordion section[expanded]>h6::after {
            content: '-';
            position: absolute;
            top: 0px;
            right: 0;
            width: 48px;
            height: 48px;
            background: #38adf8;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 0px 5px 5px 0px;
            color: #fff;
        }

        amp-accordion section:not([expanded])>h6::after {
            content: '+';
            position: absolute;
            top: 0px;
            right: 0;
            width: 48px;
            height: 100%;
            background: #38adf8;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 0px 5px 5px 0px;
            color: #fff;
        }

        amp-accordion section[expanded]:last-child:after {
            height: 38%;
        }

        amp-accordion section:not([expanded]):last-child:after {
            height: 100%;
        }

        a.get_quote {
            padding: 25px 115px 25px 75px;
            border-radius: 10px;
            margin-top: 45px;
            font-size: 24px;
            font-family: 'MuseoSans-900';
            background: image-url(arrow.png) no-repeat, #ffc135;
            background-position: right;
            background-position-x: 80%;
            transition: 0.3s;
            border: 1px solid #ffc135;
            color: #111111;
            text-decoration: none;
        }

        a.get_quote:hover {
            padding: 25px 115px 25px 75px;
            border-radius: 10px;
            margin-top: 45px;
            font-size: 24px;
            font-family: 'MuseoSans-900';
            background: image-url(arrow.png) no-repeat;
            background-position: right;
            background-position-x: 80%;
            transition: 0.3s;
            border: 1px solid #ffc135;
            color: #111111;
            text-decoration: none;
        }

        .customer-section h1 {
            font-size: 52px;
        }

        .testimonial_header1 {
            background: image-url(pic10.png) no-repeat;
            height: 242px;
            background-position: left;
            padding-top: 67px;
        }

        .testimonial_outer1 {
            margin-top: -35px;
        }

        .testimonial_header1 h4 {
            font-size: 17px;
            text-transform: uppercase;
            padding-right: 10px;
            margin: 0;
            font-family: 'Museo Sans 700';
        }

        .testimonial_header1 .stars i {
            color: #5dd960;
            font-size: 16px;
            padding: 0px 3px;
        }

        .customer-section {
            padding: 80px 0px;
        }

        select#amount {
            width: 100%;
            padding: 10px;
            border: 1px solid #d8d8d8;
            border-radius: 7px;
            margin: 25px 0px;
            outline: none;
        }

        .sub-outer {
            padding: 70px 0px;
            background: #f5f5f5;
        }

        .sub-outer h2 {
            color: #38adf8;
            text-transform: uppercase;
        }

        .sub-outer p {
            font-size: 21px;
            color: #4d4d4d;
            font-family: 'Museo Sans 500';
        }

        .sub-outer .get_quote a {
            margin-top: 15px;
        }

        HTML CSS JSResult body {
            font-family: Calibri;
            background-image: linear-gradient(90deg, #691337, #613374, #133742);
        }

        .heading {
            text-align: center;
            color: #fff;
        }

        .wrap {
            margin: 25px;
            background: #133742;
            border-radius: 7.5px;
            padding: 5px 0px 20px 53px;
        }

        .copyright-section {
            padding: 16px 0px;
        }

        footer.copyright-section {
            padding: 16px 0px;
        }

        .copyright-section p {
            color: #747474;
            font-size: 13px;
            margin-bottom: 5px;
        }

        .copyright-section ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            display: inline-block;
        }

        .copyright-section ul li {
            position: relative;
            padding: 0px 8px;
            display: inline-block;
            vertical-align: middle;
        }

        .copyright-section ul li::after {
            position: absolute;
            content: '';
            width: 2px;
            height: 13px;
            background: #747474;
            right: 0px;
            top: 6px;
        }

        .copyright-section ul li a {
            color: #747474;
            font-size: 13px;
        }

        .copyright-section ul li:last-child::after {
            content: unset;
            padding: 0px;
        }

        .copyright-section ul li a:hover {
            text-decoration: none;
        }

        .months-label {
            position: relative;
        }

        .months-label input {
            display: none;
        }

        .months-label span {
            font-size: 21px;
            background: #fff;
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 0px 8px;
            font-family: 'Museo Sans 500';
            color: #38adf8;
            overflow: hidden;
            left: 0;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .12);
            -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .12);
            box-shadow: 0 0 12px 0 rgba(0, 0, 0, .12);
        }

        input:checked+span {
            background: #38adf8;
            color: #fff;
        }

        input[type=range] {
            -webkit-appearance: none;
            margin: 10px 0;
            width: 100%;
        }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 18px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 2px #50555C;
            background: #FFFFFF;
            border-radius: 50px;
            border: 0px solid #000000;
        }

        input[type=range]::-webkit-slider-thumb {
            box-shadow: 0px 0px 0px #000000;
            border: 0px solid #000000;
            height: 42px;
            width: 40px;
            border-radius: 23px;
            background: #363636;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -12px;
        }

        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #FFFFFF;
        }

        input[type=range]::-moz-range-track {
            width: 100%;
            height: 18px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 2px #50555C;
            background: #FFFFFF;
            border-radius: 50px;
            border: 0px solid #000000;
        }

        input[type=range]::-moz-range-thumb {
            box-shadow: 0px 0px 0px #000000;
            border: 0px solid #000000;
            height: 42px;
            width: 40px;
            border-radius: 23px;
            background: #363636;
            cursor: pointer;
        }

        input[type=range]::-ms-track {
            width: 100%;
            height: 18px;
            cursor: pointer;
            animate: 0.2s;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }

        input[type=range]::-ms-fill-lower {
            background: #FFFFFF;
            border: 0px solid #000000;
            border-radius: 100px;
            box-shadow: 0px 0px 2px #50555C;
        }

        input[type=range]::-ms-fill-upper {
            background: #FFFFFF;
            border: 0px solid #000000;
            border-radius: 100px;
            box-shadow: 0px 0px 2px #50555C;
        }

        input[type=range]::-ms-thumb {
            margin-top: 1px;
            box-shadow: 0px 0px 0px #000000;
            border: 0px solid #000000;
            height: 42px;
            width: 40px;
            border-radius: 23px;
            background: #363636;
            cursor: pointer;
        }

        input[type=range]:focus::-ms-fill-lower {
            background: #FFFFFF;
        }

        input[type=range]:focus::-ms-fill-upper {
            background: #FFFFFF;
        }

        @media (max-width: 767px) {
            .barrow-section h2,
            .barrow-section h1>span {
                font-size: 54px;
            }
            .barrow-section ul li {
                font-size: 18px;
            }
            .a2 h2 {
                font-size: 28px;
            }
            .month-list li {
                width: 40px;
                height: 40px;
                font-size: 17px;
            }
            .baroow_form::before {
                width: 350px;
                height: 350px;
            }
            .faq-section h1,
            .customer-section h1 {
                font-size: 26px;
                margin-bottom: 20px;
            }
            .baroow_form {
                padding: 40px 0px 60px;
            }
            .fund_my_loan,
            .how_it_work,
            .faq-section,
            .customer-section,
            .sub-outer {
                padding: 40px 0px;
            }
            .barrow-section ul {
                column-count: 1;
            }
            .b1 {
                display: block;
            }
            .b1 p {
                text-align: left;
                max-width: 66%;
                float: left;
            }
            .b1 amp-img {
                float: right;
            }
            .box-inner {
                overflow: hidden;
            }
            .form input[type="submit"],
            .form input[type="submit"]:hover {
                padding: 16px 58px 15px 27px;
                font-size: 20px;
                background-position-x: 87%;
                background-size: 6%;
            }
            a.get_quote,
            a.get_quote:hover {
                padding: 16px 58px 15px 27px;
                font-size: 20px;
                background-position-x: 87%;
                background-size: 6%;
            }
            .sub-outer h2 {
                font-size: 22px;
            }
            .a1 amp-img {
                margin: 0 auto;
            }
            .testimonial_header1 {
                background: unset;
                padding-top: 0;
                text-align: center;
                height: auto;
                padding-bottom: 30px;
            }
            .testimonial_header1:last-child {
                padding-bottom: 0px;
            }
            .stars {
                justify-content: center;
            }
            .form input[type="email"] {
                height: 50px;
                font-size: 15px;
            }
            .testimonial_outer1 {
                margin-top: 0;
            }
        }

        @media (max-width: 575px) {
            .how_it_work amp-img {
                width: 36%;
                margin: 0 auto;
            }
            .how_it_work h3 {
                padding-top: 20px;
            }
            .barrow-section h2,
            .barrow-section h1>span {
                font-size: 45px;
            }
            .barrow-section ul {
                column-count: 1;
            }
            .baroow_form {
                padding: 50px 0px;
            }
            .month-list li {
                width: 34px;
                height: 34px;
                font-size: 13px;
                margin: 0px 6px;
            }
            .a2 h2 {
                font-size: 22px;
            }
            .form input[type="email"] {
                height: 55px;
            }
            .fund_my_loan h1 {
                font-size: 40px;
            }
            .fund_my_loan p {
                font-size: 15.98px;
            }
            .fund_my_loan h2 {
                font-size: 21.97px;
            }
            .barrow-section ul li {
                font-size: 16px;
            }
            .baroow_form::after {
                width: 650px;
                height: 650px;
                right: -306px;
            }
            .how_it_work::before {
                width: 400px;
                height: 400px;
            }
            .faq-section h1,
            .customer-section h1 {
                font-size: 32px;
            }
            header {
                padding: 10px 0px 0px;
            }
            .site_logo {
                display: flex;
                justify-content: center;
            }
            .site_logo h3 {
                padding: 14px 20px;
            }
            .testimonial_header p,
            .testimonial_header1 p {
                text-align: center;
            }
            .sub-outer p {
                font-size: 19px;
                margin-bottom: 0;
            }
            .sub-outer h2 {
                font-size: 18px;
            }
            .how_it_work h1 {
                font-size: 28px;
            }
            select#amount {
                font-size: 15px;
            }
        }

        @media (max-width: 480px) {
            .d-medium-none{
                display: none;
            }
            select#amount {
                font-size: 13px;
            }
            .testimonial_header::before {
                background-position: top;
            }
            .barrow-section h2,
            .barrow-section h1>span {
                font-size: 28px;
                line-height: initial;
                margin-bottom: 0;
            }
            .barrow-section h4 {
                font-size: 15px;
            }
            .barrow-section ul li {
                font-size: 12px;
            }
            .barrow-section ul li::before {
                width: 14px;
                height: 14px;
                left: -15px
            }
            .stars i {
                font-size: 14px;
            }
            .testimonial_header h4 {
                padding-right: 3px;
            }
            .barrow-section ul {
                padding-bottom: 0;
            }
            .form input[type="submit"] {
                font-size: 16px;
            }
            .form input[type="submit"],
            .form input[type="submit"]:hover {
                padding: 15px 36px 11px 18px;
                background-position-x: 93%;
                background-size: 14px;
            }
            .baroow_form::before {
                width: 250px;
                height: 250px;
            }
            .baroow_form::after {
                width: 600px;
                height: 600px;
                right: -459px;
                top: -32px;
            }
            .a2 {
                padding: 28px 15px;
            }
            .month-list li {
                width: 27px;
                height: 27px;
                font-size: 12px;
                margin: 0px 2px;
            }
            .a2 h2 {
                font-size: 15px;
            }
            .form input[type="email"] {
                height: 45px;
                font-size: 13px;
                padding-left: 15px;
                border-radius: 6px;
            }
            .sponsor-logos {
                padding-top: 50px;
            }
            .fund_my_loan h1 {
                font-size: 25px;
            }
            a.get_quote,
            a.get_quote:hover {
                padding: 15px 36px 11px 18px;
                background-position-x: 93%;
                background-size: 14px;
                font-size: 16px;
            }
            .fund_my_loan::before {
                width: 300px;
                height: 300px;
            }
            .get_quote a {
                margin-top: 15px;
            }
            .month-list {
                margin: 20px 0px 30px;
            }
            .how_it_work h3 {
                padding-top: 25px;
                font-size: 20px;
            }
            .how_it_work p {
                font-size: 14.7px;
            }
            .fund_my_loan,
            .how_it_work,
            .faq-section,
            .customer-section,
            .sub-outer {
                padding: 30px 0px;
            }
            .faq-section h1,
            .customer-section h1 {
                font-size: 17px;
            }
            .faq-section h6 {
                font-size: 12px;
            }
            .a1 amp-img {
                margin: 0 auto;
            }
            .testimonial_header1 {
                height: auto;
                background-position: top center;
                background-size: 60%;
                padding-top: 14px;
            }
            .testimonial_outer1 {
                margin-top: 0;
            }
            .sub-outer h2 {
                line-height: inherit;
            }
            .copyright-section ul li a {
                font-size: 12px;
            }
            .barrow-section h4 {
                margin: 21px 0px 19px;
            }
            .testimonial_header p,
            .testimonial_header1 p {
                padding-top: 0px;
            }
            .baroow_form {
                padding: 30px 0px 50px;
            }
            .how_it_work::before {
                width: 300px;
                height: 300px;
            }
            .margin-vertical{
              margin-top: 23px;
              margin-bottom: 23px;
            }
        }
    </style>
    <noscript>
         <style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style>
      </noscript>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Article headline",
            "image": [
                "thumbnail1.jpg"
            ],
            "datePublished": "2015-02-05T08:00:00+08:00"
        }
    </script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <!-- AMP Analytics --><script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

</head>

<body>
  <!-- Google Tag Manager -->
    <amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-T58G6C5&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>
    <section class="wrapper">
        <div class="top_bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Warning: Late repayment can cause you serious money problems. For help, go to moneyadviceservice.org.uk</p>
                    </div>
                </div>
            </div>
        </div>
        <!--strip-->
        <header class="header-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" id="site-header">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-12 margin-vertical">
                              <amp-img src="<%=asset_path('logo.png')%>" width="250" height="34" layout="responsive"></amp-img>
                            </div>
                            <div class="col-md-8 col-sm-8 col-12 right-section d-medium-none">
                                <p>Rates from 45.3% APR to 1575% APR. Minimum Loan Term is 3 months - Maximum Loan Term is 36 months. Representative Example: Borrow £1000 for 24 months. Annual interest rate 70% (fixed). 24 equal instalments of £77.48. Total amount to repay £1,859.52. Representative 97% APR (variable).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!---header-section-->
        <div class="barrow-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-12 mx-auto textarea text-center">
                        <h2>Borrow up to £5000*</h2>
                        <h1><span>Quickly & Easily</span></h1>
                        <h4>We help over 2000 people a day!</h4>
                    </div>
                    <div class="col-md-10 col-sm-10 col-10 mx-auto">
                        <ul>
                            <li>Instant decision with no paperwork</li>
                            <li>Your details are secure</li>
                            <li>We could help you if you have bad credit</li>
                        </ul>
                    </div>
                   <!--  <div class="col-md-11 col-sm-11 d-flex mx-auto">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2 col-sm-3 col-12 a1">
                                      <amp-img src="<%=asset_path('pic1.jpg')%>" layout="responsive" width="131" height="131"></amp-img>
                                </div>
                                <div class="col-md-9 col-sm-9 col-12 testimonial_slider">
                                    <div class="testimonial_header">
                                        <div class="stars">
                                            <h4>JHON DOE</h4>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet magna dui. Sed pretium ac mi sit amet finibus. Vivamus tempor lectus at convallis placerat. Nunc tortor arcu, consequat ac eros nec, ornare
                                            convallis turpis.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!---baroow-section-->
        <div class="baroow_form">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-11 col-11 mx-auto text-center a2">
                        <form class="form" method="get" target="_blank" action="/apply-google">
                            <h2>I want to borrow</h2>
                            <select name="loan_Amount" id="amount" name="loan_amount">
                  <option selected="" disabled="" value="">Choose</option>
                  <option value="100">100</option>
                  <option value="200">200</option>
                  <option value="300">300</option>
                  <option value="400">400</option>
                  <option value="500">500</option>
                  <option value="600">600</option>
                  <option value="700">700</option>
                  <option value="800">800</option>
                  <option value="900">900</option>
                  <option value="1000">1000</option>
                  <option value="1100">1100</option>
                  <option value="1200">1200</option>
                  <option value="1300">1300</option>
                  <option value="1400">1400</option>
                  <option value="1500">1500</option>
                  <option value="1600">1600</option>
                  <option value="1700">1700</option>
                  <option value="1800">1800</option>
                  <option value="1900">1900</option>
                  <option value="2000">2000</option>
                  <option value="2100">2100</option>
                  <option value="2200">2200</option>
                  <option value="2300">2300</option>
                  <option value="2400">2400</option>
                  <option value="2500">2500</option>
                  <option value="3000">3000</option>
                  <option value="3500">3500</option>
                  <option value="4000">4000</option>
                  <option value="4500">4500</option>
                  <option value="5000">5000 and more</option> </select>

                            <h2>Over how many months?</h2>
                            <div class="month-list">
                                <label class="months-label"><input type="radio" id="month-3" name="loan_duration_months" value="3" /><span>3</span></label>
                                <label class="months-label"><input type="radio" id="month-6" name="loan_duration_months" value="6" /><span>6</span></label>
                                <label class="months-label"><input type="radio" id="month-12" name="loan_duration_months" value="12" checked /><span>12</span></label>
                                <label class="months-label"><input type="radio" id="month-15" name="loan_duration_months" value="15"/><span>15</span></label>
                                <label class="months-label"><input type="radio" id="month-18" name="loan_duration_months" value="18"/><span>18</span></label>
                                <label class="months-label"><input type="radio" id="month-24" name="loan_duration_months" value="24"/><span>24</span></label>
                                <label class="months-label"><input type="radio" id="month-36" name="loan_duration_months" value="36"/><span>36</span></label>
                            </div>
                            <h2>Email Address</h2>
                            <input type="email" name="email" placeholder="Enter Your Email">
                            <input id="qute_btn" type="submit" name="submit" value="GET MY QUOTE!">
                        </form>
                    </div>
                    <div class="sponsor-logos clear d-flex justify-content-center w-100">
                        <amp-img src="<%=asset_path('cca.png')%>" width="85" height="47"></amp-img>
                    </div>
                </div>
            </div>
        </div>
        <!--barrow-form-->
        <div class="fund_my_loan">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 mx-auto text-center">
                        <h1>Why <span style="color:#38adf8">get a loan today</span> ?</h1>
                        <p>We’ve all been in situations where we’ve been short on cash or need money but can’t borrow from our bank. When you need money fast, it can be very time consuming comparing and applying with all the lenders out there.</p>
                        <h2>We search over 30 lenders in just a few minutes, saving you time. You can apply for a short term loan between £100 and £5,000; 24 hours a day, 365 days a year.</h2>
                    </div>
                    <div class="col-md-11 col-sm-11 mx-auto">
                        <div class="row box">
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="box-inner">
                                    <h3>FAST</h3>
                                    <div class="text-right b1">
                                        <p>Get an instant decision when you need it most</p>
                                        <amp-img src="<%=asset_path('pic2.png')%>" width="66" height="66"></amp-img>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="box-inner">
                                    <h3>STRAIGHT-FORWARD</h3>
                                    <div class="text-right b1">
                                        <p>Our process is simple and easy. Request a loan amount, fill in the form on the next page and get funded.</p>
                                        <amp-img src="<%=asset_path('pic3.png')%>" width="66" height="66"></amp-img>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="box-inner">
                                    <h3>BAD CREDIT OK</h3>
                                    <div class="text-right b1">
                                        <p>We help thousands of customers get money when they need it, even if you have been declined elsewhere</p>
                                        <amp-img src="<%=asset_path('pic4.png')%>" width="66" height="66"></amp-img>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="box-inner">
                                    <h3>SECURE</h3>
                                    <div class="text-right b1">
                                        <p>Our website is secure, you can feel at ease with Get A Loan Today</p>
                                        <amp-img src="<%=asset_path('pic5.png')%>" width="66" height="66"></amp-img>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="box-inner">
                                    <h3>NO FEES</h3>
                                    <div class="text-right b1">
                                        <p>We never charge fees for applications.</p>
                                        <amp-img src="<%=asset_path('pic6.png')%>" width="66" height="66"></amp-img>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="d-flex justify-content-center">
                                    <a class="get_quote" href="#qute_btn">GET MY QUOTE!</a>
                                </div>
                            </div>
                        </div>
                        <!--row-->
                    </div>
                </div>
            </div>
        </div>
        <!--get a loan today-->
        <div class="how_it_work">
            <div class="container">
                <div class="text-center">
                    <h1 class="text-uppercase">How It <span style="color:#38adf8">works</span></h1>
                </div>
                <div class="row align-items-center pb-4">
                    <div class="col-md-4 col-sm-4 col-12">
                        <amp-img src="<%=asset_path('pic7.png')%>" width="215" height="290" layout="responsive"></amp-img>
                    </div>
                    <div class="col-md-8 col-sm-8 col-12 text-sm-left text-md-left text-center">
                        <h3>Simple online application</h3>
                        <p>Apply online for up to £5000 using our short online form. Simply select the amount you want to borrow, the term of the loan, and get started with the process.</p>
                    </div>
                </div>
                <div class="row align-items-center pb-4">
                    <div class="col-md-8 col-sm-8 col-12  order-md-1 order-sm-1 order-2 text-sm-right text-md-right text-center">
                        <h3>Get an instant decision</h3>
                        <p>Our process allows us to give you an instant decision. Get money fast when you need it.</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-12 order-md-2 order-sm-2 order-1">
                        <amp-img src="<%=asset_path('pic8.png')%>" width="277" height="210" layout="responsive"></amp-img>
                    </div>
                </div>
                <div class="row align-items-center pb-4">
                    <div class="col-md-4 col-sm-4 col-12">
                        <amp-img src="<%=asset_path('pic9.png')%>" width="200" height="225" layout="responsive"></amp-img>
                    </div>
                    <div class="col-md-8 col-sm-8 col-12 pl-md-0 text-sm-left text-md-left text-center">
                        <h3>Receive your money</h3>
                        <p>Receive your money in your nominated bank account. Your loan agreement and terms will be emailed to you. It really is as simple as this.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="d-flex justify-content-center">
                        <a class="get_quote" href="#qute_btn">GET MY QUOTE!</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- how-it-work -->
        <div class="faq-section">
            <div class="container">
                <div class="text-center mb-3">
                    <h1 class="text-uppercase">frequently asked questions</h1>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-11 mx-auto">
                        <amp-accordion expand-single-section>
                            <section>
                                <h6>How does Get A Loan Today work?</h6>
                                <p>Get-Aloan.Today is a broker, not a lender, and works with an exclusive range of lenders in return for a commission fee. We don’t directly offer loans. We allow customers to access our network of UK short term and installment
                                    lenders through our online form. We match customers with lenders in our network.</p>
                            </section>
                            <section>
                                <h6>How much can I borrow?</h6>
                                <p>You could borrow between £100 and £5000.</p>
                            </section>
                            <section>
                                <h6>What different types of loans do your lenders offer?</h6>
                                <p>There are a variety of loans available for consumers. It’s important to understand the differences between them to see which one best suits your individual needs. Guarantor loans include an additional person on the loan,
                                    such as a friend or family member, who agree to repay the loan should the borrower miss a payment. Short term loans are small (usually under £1,000), no-collateral cash advances that are backed by future income. Personal
                                    unsecured loans are loans that are not secured against your assets, meaning they don’t require any form of collateral. Instalment loans can range up to several months and payments are spread out over the term of the
                                    loan.
                                </p>
                            </section>
                            <section>
                                <h6>How long does it take to apply and receive funds?</h6>
                                <p>The online application takes a few minutes to complete. Get-Aloan.Today will then run your application through our network of lenders in an attempt to match you with a qualified lender. This process takes minutes. If your
                                    application is accepted, you will be forwarded to the lender’s completion page so that you can sign for your loan electronically.</p>
                            </section>
                            <section>
                                <h6>How will I receive my funds?</h6>
                                <p>Your funds will be transferred electronically into your bank account via electronic transfer.</p>
                            </section>
                            <section>
                                <h6>If approved for a loan by an independent third party lender, how quickly could I receive it?</h6>
                                <p>In most cases, if you are accepted by a lender, the transfer into your bank account could happen as early as the next business day. This will vary depending upon your lender as well as your financial institution. If you
                                    have additional questions regarding the transfer time, please contact your lender.</p>
                            </section>
                            <section>
                                <h6>What are the eligibility criteria?</h6>
                                <p>The eligibility criteria varies by lender. There are, however, standard criteria requirements that you will be expected to meet in order to apply. This includes the fact that you must be aged 18 years or older, live in
                                    the UK, have an active bank account into which you can receive direct debits and have a regular source of income.</p>
                            </section>
                            <section>
                                <h6>Why do you require my personal information?</h6>
                                <p>We require your personal information in order to present your application to our lenders so they can assist you by providing you a loan. Please refer to our <a href="https://yeslend.co.uk/your-privacy-rights.php">Privacy Policy</a>                                    for more details about how we use your personal information..</p>
                            </section>
                            <section>
                                <h6>Will you check my credit score?</h6>
                                <p>YesLend.co.uk does not run any credit checks; however, we are a matching service and the lender we match you with may do so as part of the application process.</p>
                            </section>
                            <section>
                                <h6>What is your Representative APR?</h6>
                                <p>Our Representative 97% APR (variable). A Representative APR takes into account all charges associated with the loan, in addition to the interest rate.</p>
                            </section>
                            <section>
                                <h6>What should I do if I have problems repaying?</h6>
                                <p>If you have any issues repaying your loan, please contact your lender directly. They will be able to discuss repayment options with you. If you have more serious concerns about managing your money, you may contact Money
                                    Advice Service (<a href="https://www.moneyadviceservice.org.uk/">www.moneyadviceservice.org.uk</a>). Money Advice Service offers free advice to those who need to manage their money more effectively.</p>
                            </section>
                        </amp-accordion>
                    </div>
                </div>
            </div>
        </div>
        <!-- faq-section -->
        <!-- <div class="customer-section">
            <div class="container">
                <div class="text-center">
                    <h1 class="text-uppercase">See what are customers have to say</h1>
                </div>
                <div class="col-md-8 col-sm-11 col-12 mx-auto">
                    <div class="row testimonial_outer align-items-center">
                        <div class="col-md-3 col-12 a1">
                            <amp-img src="<%=asset_path('pic11.png')%>" layout = "responsive" width="104" height="104"></amp-img>
                        </div>
                        <div class="col-md-9 col-12 testimonial_slider pl-md-0">
                            <div class="testimonial_header1 pl-md-4">
                                <div class="stars">
                                    <h4>JHON DOE</h4>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet magna dui. Sed pretium ac mi sit amet finibus. Vivamus tempor lectus at convallis placerat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row testimonial_outer1 align-items-center">
                        <div class="col-md-3 col-12 a1">
                            <amp-img src="<%=asset_path('pic12.png')%>" layout="responsive"  width="131" height="131"></amp-img>
                        </div>
                        <div class="col-md-9 col-12 testimonial_slider pl-md-0">
                            <div class="testimonial_header1 pl-md-4">
                                <div class="stars">
                                    <h4>JHON DOE</h4>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet magna dui. Sed pretium ac mi sit amet finibus. Vivamus tempor lectus at convallis placerat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- customer-section -->
        <div class="sub-outer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2>Apply Today And Get An Instant Decision</h2>
                        <p>Get access to money when you need it most. Complete our application form, get the decision and receive your money. It really is as simple as that.</p>
                        <div class="d-flex justify-content-center">
                            <a class="get_quote" href="#qute_btn">GET MY QUOTE!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- sub-outer -->
        <footer class="copyright-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center px-0">
                        <p>© 2020 Get-Aloan.Today All rights reserved.</p>
                        <ul class="">
                            <li><a href="index.html">Home</li>
                        </a>
                                <li><a href="#">HelpCentre</li>
                        </a>
                                    <li><a href="#">Opt Out</li>
                        </a>
                                        <li><a href="terms-and-conditions.html">Terms & Conditions</li>
                        </a>
                                            <li><a href="privacy.html">Privacy Notice  </li>
                        </a>
                                                <li><a href="#">Cookies Policy</li>
                        </a>
                                                    <li><a href="#">Broking Policy </li>
                        </a>
                                                        <li><a href="#">Complaints Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- copyright-section -->
    </section>
</body>
</html>
